@model Category
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Category</h1>

<form method="post" asp-action="Edit">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" name="Description" class="form-control"></textarea>

    </div>

    <button type="submit" class="btn btn-outline-warning">update</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>

</form>